.ChildContainer
{
    border : 1px solid grey;
    padding: 0.5rem;
    border-radius: 8px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    width: fit-content;
    color:  white;
    transition: all .5s ease;
    font-weight:bold ;
    font-family: sans-serif;

}

.completed{
    background-color: teal;
    color:white;
    font-weight: bold;
}
.completed:hover{
    background-color : white;

}
.upcoming{
    background-color: rgb(245, 86, 112);
    color: white;
    font-weight: bold;
}
.upcoming:hover{
    background-color: azure;
    
}